<div class="col-sm-6 margin-bottom-30">
    <ul class="nav nav-tabs nav-justified margin-bottom-30"> 
      <li role="presentation" class="active"><a href="#.">Energia</a></li> 
      <li role="presentation"><a>Coste</a></li> 
      <li role="presentation"><a href="#.">CO2</a></li> 
    </ul>
  </div>
<div class="row">
  <table class="table table-striped table-inverse">
  
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Hoy</td>
      <td>2.00 kg</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ayer</td>
      <td>6.00 kg</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Promedio</td>
      <td>5.58 kg</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Este mes</td>
      <td>119 kg</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Mes anterior</td>
      <td>169 kg</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Este año</td>
      <td>295 kg</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Estimado para este año</td>
      <td>2.035 kg</td>
    </tr>
  </tbody>
</table>
</div>
