.margin-bottom-30{
    margin-bottom: 20px;
}
.color1{
    color:#2BBBAD;
}
.color2{
    color:#777!important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #4285F4;
}