<div *ngIf="isLoading; else elseBlock">
  <div class="auth-loader-container">
    <app-loader></app-loader>
  </div>
</div>
<ng-template #elseBlock>
  <!-- <div class="margin-bottom-xs b-project-list-sorting">
    <app-sorting [data]="projects"
                 [elements]="[
               {name: 'user_id', displayName: 'Usuario'},
               {name: 'title', displayName: 'Título'},
               {name: 'created_at', displayName: 'Creación'},
               {name: 'updated_at', displayName: 'Actualización'}
               ]" (sortedData)="setData($event)">
    </app-sorting>
  </div> -->

  <div>
  
  <!-- <div class="row">
      <input #newHero
      (keyup.enter)="addHero(newHero.value)"
      (blur)="addHero(newHero.value); newHero.value='' ">

    <button (click)="addHero(newHero.value)">Add</button>

    <ul><li *ngFor="let hero of heroes">{{hero}}</li></ul>
  </div> -->
  <div class="row"> 
    <div class="col-sm-3">
        <input #newHero1
        (keyup.enter)="addHero(newHero1.value)"
        type="text" class="form-control" placeholder="Ciudad" aria-label="Username" aria-describedby="basic-addon1">
    </div>   
    <div class="col-sm-3">
        <input #newHero2
        (keyup.enter)="addHero(newHero2.value)"
        type="text" class="form-control" placeholder="Region" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="col-sm-3">
        <input #newHero3
        (keyup.enter)="addHero(newHero3.value)"
        type="text" class="form-control" placeholder="Mes" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="col-sm-3">
        <button (click)="addHero(newHero1.value,newHero2.value,newHero3.value)" class="btn btn-primary pull-right">
            Agregar tarifa      
        </button>
    </div>  
  </div> 
  
  <div class="row">
      <div class="col-sm-12 margin-bottom-60">
          <div *ngFor="let hero of heroes" class="col-sm-3">
              {{hero}}
          </div>
        </div>
  </div> 
  <div class="col-md-12 margin-bottom-60">
 
    <canvas baseChart
                [data]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  </div>
  
<div class="b-project-list">
    <!-- <h2>Consumo Electrico</h2>
    <div class="b-project" *ngFor="let project of projects">
      <div class="b-project__title-container">
        <a href="">
          <h3 class="b-project__title">{{ project.title }}</h3>
        </a>
      </div>
      <div class="b-project__description">
        {{ project.description }}
      </div>
      <div class="b-project__actions">
        <a (click)="onDeleteProject(project)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </div>
    </div> -->
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-2 col-md-offset-10 margin-top-sm">
    <div class="b-btn-new-project overflow-hidden">
      <button (click)="onCreateProject()" class="btn btn-primary pull-right">
        Nuevo Proyecto
      </button>
    </div>
  </div>
</div> -->
<!-- <canvas id="barChart"></canvas> -->
</ng-template>
